In [2]:
import seaborn as sns 
# Apply the default theme
sns.set_theme()

In [4]:
import sys
sys.path.append('../')

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from db import get_data

In [8]:
data = get_data()

In [9]:
data[3]

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2210271,1,True,True,1,2021-08-13T19:00:00Z,90,False,True,1,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,66342
1,2210276,1,True,True,6,2021-08-14T11:30:00Z,90,False,True,10,1.0,13,5.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,66347
2,2210272,1,True,True,2,2021-08-14T14:00:00Z,90,False,True,4,2.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,66343
3,2210273,1,True,True,3,2021-08-14T14:00:00Z,90,False,True,7,0.0,6,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,66344
4,2210274,1,True,True,4,2021-08-14T14:00:00Z,90,False,True,16,1.0,8,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,66345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210646,38,False,False,376,2022-05-22T15:00:00Z,0,False,False,13,NaN,7,NaN,[],4,2,66717
376,2210647,38,False,False,377,2022-05-22T15:00:00Z,0,False,False,16,NaN,9,NaN,[],2,3,66718
377,2210648,38,False,False,378,2022-05-22T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,66719
378,2210649,38,False,False,379,2022-05-22T15:00:00Z,0,False,False,2,NaN,12,NaN,[],2,5,66720
379,2210650,38,False,False,380,2022-05-22T15:00:00Z,0,False,False,17,NaN,15,NaN,[],3,2,66721

In [80]:
ict = data[0][['ict_index', 'web_name']]

In [89]:
ict.loc[ict['web_name'] == "Antonio"]

    ict_index web_name
531      54.7  Antonio

In [91]:
print(data[1].columns)

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [ ]:

# Filtering mechanism:
'chance_of_playing_next_round'
# Player_df:
'web_name','team','team_code', 'id', 'cost_change_start', 'element_type', 
'event_points', 'total_points' 'form', 'now_cost', 'selected_by_percent', 'transfers_in_event', 
'transfers_out_event', 'minutes', 'goals_scored', 'assists', 'corners_and_indirect_freekicks_order' 'clean_sheets', 'goals_conceded', 'own_goals',
'penalties_saved', 'penalties_missed', 'penalties_order' 'yellow_cards', 'red_cards', 'saves', 'bonus', 
'influence', 'creativity', 'threat' 'ict_index', 'ict_index_rank', 'influence_rank', 'creativity_rank', 'threat_rank'  

# label: event_points

# MVP:

In [12]:
from data import create_player_df, get_full_gw_hist

In [13]:
player_df = create_player_df()
gw_df = get_full_gw_hist(player_df)

100%|██████████| 567/567 [00:45<00:00, 12.49it/s]

In [14]:
player_df

,id_player,first_name,second_name,web_name,name,singular_name_short
0,1,Bernd,Leno,Leno,Arsenal,GKP
1,2,Rúnar Alex,Rúnarsson,Rúnarsson,Arsenal,GKP
2,532,Karl,Hein,Hein,Arsenal,GKP
3,559,Aaron,Ramsdale,Ramsdale,Arsenal,GKP
4,28,Jed,Steer,Steer,Aston Villa,GKP
...,...,...,...,...,...,...
562,439,Max,Kilman,Kilman,Wolves,DEF
563,443,Ki-Jana,Hoever,Hoever,Wolves,DEF
564,446,Yerson,Mosquera Valdelamar,Mosquera,Wolves,DEF
565,470,Rayan,Ait Nouri,Ait Nouri,Wolves,DEF
566,549,Christian,Marques,Marques,Wolves,DEF

In [17]:
gw_df[['name']]

KeyError: "None of [Index(['name'], dtype='object')] are in the [columns]"