In [1]:
import seaborn as sns 
# Apply the default theme
sns.set_theme()

In [4]:
import sys
sys.path.append('../')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
from db import get_data

In [19]:
data = get_data()

In [49]:
data[0][['penalties_order', 'web_name']].max()

penalties_order         6.0
web_name           Ødegaard
dtype: object

In [21]:
print(data[0].columns)

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [ ]:
# Filtering mechanism:
'chance_of_playing_next_round'
# Player_df:
'web_name','team','team_code', 'id', 'cost_change_start', 'element_type', 
'event_points', 'form', 'now_cost', 'selected_by_percent', 'transfers_in_event', 
'transfers_out_event', 'minutes', 'goals_scored', 'assists', 'corners_and_indirect_freekicks_order' 'clean_sheets', 'goals_conceded', 'own_goals',
'penalties_saved', 'penalties_missed', 'penalties_order' 'yellow_cards', 'red_cards', 'saves', 'bonus', 
'influence', 'creativity', 'threat' 'ict_index', 'ict_index_rank', 'influence_rank', 'creativity_rank', 'threat_rank'

In [12]:
from data import create_player_df, get_full_gw_hist

In [13]:
player_df = create_player_df()
gw_df = get_full_gw_hist(player_df)

100%|██████████| 567/567 [00:45<00:00, 12.49it/s]

In [14]:
player_df

,id_player,first_name,second_name,web_name,name,singular_name_short
0,1,Bernd,Leno,Leno,Arsenal,GKP
1,2,Rúnar Alex,Rúnarsson,Rúnarsson,Arsenal,GKP
2,532,Karl,Hein,Hein,Arsenal,GKP
3,559,Aaron,Ramsdale,Ramsdale,Arsenal,GKP
4,28,Jed,Steer,Steer,Aston Villa,GKP
...,...,...,...,...,...,...
562,439,Max,Kilman,Kilman,Wolves,DEF
563,443,Ki-Jana,Hoever,Hoever,Wolves,DEF
564,446,Yerson,Mosquera Valdelamar,Mosquera,Wolves,DEF
565,470,Rayan,Ait Nouri,Ait Nouri,Wolves,DEF
566,549,Christian,Marques,Marques,Wolves,DEF

In [17]:
gw_df[['name']]

KeyError: "None of [Index(['name'], dtype='object')] are in the [columns]"